*{
    user-select: none;
    caret-color: transparent;
}

img{
    pointer-events: none;
}

body{
    font-family: arial;
    margin: 0;
    overflow: hidden;
}

a{
    text-decoration: none;
}

/* Bagian Navbar */
.container-nav{
    width: 100%;
    height: auto;
}

nav ul{ 
    list-style: none;
    margin: 0;
}

.judul{
    padding: 3vh 0;
    color: rgb(255, 72, 0);
    text-align: center;
    align-content: center;
    font-size: 6dvw;
    background: orange;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 900;
}

.subjudul{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    width: 100%;
    height: auto;
    padding: 10px 0;
    color: yellow;
    background: orangered;
    display: flex;
}

.subjudul li{
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 4dvw;
}

/* Bagian Menu */
container-daftar{
    align-items: center;
    display: flex;
    justify-items: center;
    text-align: center;
  }

#daftar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 70dvh;
  }
  
#daftar a{
    text-decoration: none;
    color: white;
    font-size: 100% ;
    font-weight: bold;
    border-radius: 8px;
}

.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu img{
    text-align: center;
    width: 40vw;
    height: 15vh;
    transition:0.3s;
    object-fit: cover;
    position: relative;
    z-index: 10;
}
.menu:hover{
    background:rgb(34, 13, 148);
}
.menu:hover img{
    transform: scale(1.2);
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-display: bottom;
}

.menu b{
    position: relative;
    z-index: -1;
}

/* Bagian Background */
.background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/kuliner3.jpg);
    background-repeat: no-repeat;
    filter: blur(5px);
    background-size: cover;
    z-index: -1;
    
}

/* Bagian Button */
#batal{
    background: red;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    border-radius: 8px;
}

#batal:hover{
    background: darkred;
}

#lanjut{
    background: green;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    border-radius: 8px;
}

#lanjut:hover{
    background: darkgreen;
}

/* Bagian Pesan*/
.isi{
  text-align: center;
  align-content: center;
  height: 75dvh;
}

.container-pesan-2{
  display: none;
}

/* Bagian Footer */
footer{
    backdrop-filter: blur(10px);
    color: white;
    text-shadow: cyan 0px 0px 5px,
    cyan 0px 0px 10px,
    cyan 0px 0px 15px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    font-size: 2dvw;
    padding: 10px 0;
}

/* Bagian Input Number */
/* Untuk Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Untuk Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Jika ingin lebih universal (terkadang diperlukan untuk Firefox modern) */
input[type=number] {
    appearance: textfield;
}

