@media (max-width: 800px){
  body{
    overflow: hidden;
  }
  
  /* bagian navbar */
  .judul{
    font-size: 20px;
    padding-inline: 0;
  } 
  
  .subjudul{
    padding-inline: 0;
  }
  
  .subjudul li{
    font-size: 15px;
  }
  
  /* Bagian Menu */
  .container-daftar{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 75dvh;
  }
  
  #daftar{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0;
  }

  
  .menu{
    width: 100px;
    padding-inline: 0;
    margin: 0;
  }
  
  .menu img{
    height: 70px;
  }
  
  #daftar a{
    font-size: 15px;
  }
  
  /* Bagian Pesan*/
  .isi{
    align-content: center;
    height: 65dvh;
    aspect-ratio: 9/16;
  }
  
  .isi img{
    width: 200px;
    height: 150px;
  }
  
  /* Bagian Akhir */
  .container-akhir{
    text-align: center;
    align-content: center;
    height: 65dvh;
  }
  
  .gambar{
    width: 200px;
  }
  
  /* Bagian Footer */
  footer{
    font-size: 7px;
    padding: 10px 0;
  }
}

@media (max-width: 600px){
  /* Bagian Pesan*/
  .container-pesan{
    display: none;
  }
  
  .container-pesan-2{
    display: flex;
    margin: 20px 0;
  }
}


@media (max-width: 375px){
  /* bagian navbar */
  .judul{
    font-size: 20px;
    padding-inline: 0;
  } 
  
  .subjudul li{
    font-size: 15px;
  }

  /* Bagian Menu */
  .container-daftar{
    height: 70dvh;
  }
  
  #daftar{
    gap: 30px;

  }
  
  .menu{
    width: 120px;
  }
  
  .menu img{
    height: 70px;
  }
  
  #daftar a{
    font-size: 15px;
  }

    /* Bagian Footer */
  footer{
    font-size: 7px;
  }
}

@media (max-width: 320px){
  /* bagian navbar */
  .judul{
    font-size: 15px;
    padding-inline: 0;
  } 
  
  .subjudul li{
    font-size: 10px;
  }

  /* Bagian Menu */
  .container-daftar{
    height: 65dvh;
  }
  
  #daftar{
    gap: 30px;

  }
  
  .menu{
    width: 90px;
  }
  
  .menu img{
    height: 50px;
  }
  
  #daftar a{
    font-size: 10px;
  }

    /* Bagian Footer */
  footer{
    font-size: 6px;
  }
}